
<div>
  <div class="card mb-3 mx-1">
    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example</p>
      <p class="card-text">Some quick example</p>
      <p class="card-text">Some quick example</p>
    </div>
  </div>
</div>