
.contents {
    min-height: 800px;
}

footer {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.login-card {
    min-width: 18rem;
    max-width: 30rem;
}

.alert {
    min-width: 50rem;
}

.card-title {
    white-space: nowrap;
}

.card-title img {
    height: 20px;
    width: 20px;
}

.border {
    border-width: 5px;
}

.text-nowrap {
    white-space: nowrap;
}

.card-body {
    padding: 0.75em;
}

#main-navbar {
    height: auto;
    margin-bottom: 1rem;
}

hr {
    margin: 0.5rem 0;
}

.popover-body p {
    margin-bottom: 0;
}

[data-toggle=popover] {
    cursor: help;
}