
.contents {
    min-height: 800px;
}

footer {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.login-card {
    min-width: 18rem;
    max-width: 30rem;
}

.alert {
    min-width: 50rem;
}

.service_img {
    width: 100px;
    height: 100px;
}

.service-panel-widget {
    height: auto;
    padding: 0.1rem 1rem;
}

.service-panel-widget .btn {
    width: 30px;
    height: 30px;
    margin: 0 0 0.1rem 0;
}

.service-panel-widget .col {
    padding: 0;
}

.service-panel-widget .col:first-of-type {
    padding-right: 1rem;
}

.card-title {
    white-space: nowrap;
}

.card-title img {
    height: 20px;
    width: 20px;
}

.border {
    border-width: 5px;
}

.text-nowrap {
    white-space: nowrap;
}

.info-circle {
    height: 20px;
    width: 20px;
}

.card-body {
    padding: 0.75em;
}

#panel-commands .btn, 
#panel-commands input,
#panel-commands select {
    margin-left: 0.25rem;
}

.service-up {
    background-color: LightGreen !important;
}

.service-warning {
    background-color: Gold;
}

.service-down {
    background-color: Salmon;
}

p {
    margin-bottom: 0.25rem;
}

#main-navbar {
    height: auto;
    margin-bottom: 1rem;
}

.service-panel-widget .badge {
    cursor: pointer;
}