
#loading_graph_img {
    display: block;
    margin: 0 auto;
    min-width: 190px;
    width: 25%;
}

.service-panel-widget {
    height: 6.8rem;
    width: 12rem;
    margin: 0.1rem;
    border: 2px white solid;
    border-radius: .35rem;
}

.device-panel-widget {
    display: inline-block;
    margin: 0 0.25rem 0.25rem 0.25rem;
    border: 2px solid black;
}

.device-panel-widget > .btn {
    width: 30px !important;
    height: 30px !important;
    margin: 0 0 0.1rem 0;
}

.device-panel-widget .card-title {
    margin-bottom: 0.1rem;
}

.service-actions {
    padding: 0 .4rem;
}

.service-panel-widget .btn {
    width: 20px;
    height: 20px;
    font-size: 9pt;
    padding: 0;
    margin-left: 0.1rem;
}

.service-panel-widget hr {
    margin: .1rem 0;
}

.service-panel-widget .service-name {
    margin-left: .4rem;
    font-weight: bold;
}

#panel-commands .btn, 
#panel-commands input,
#panel-commands select {
    margin-left: 0.25rem;
    margin-bottom: 0.25;
}

#panel-commands .form-group {
    margin-bottom: 0;
}

.service-up, .status-counter-up {
    background-color: LightGreen;
}

.service-warning, .status-counter-warning {
    background-color: Gold;
}

.service-down, .status-counter-down {
    background-color: Salmon;
}

#status_counters {
    display: inline-block;
}

.status-counter {
    display: inline-block;
    margin-right: .25rem;
    height: auto;
    border-radius: .5rem;
    min-width: 2.5rem;
    width: auto;
    text-align: center;
}

.status-counter .counter-value {
    padding: .25rem;
    margin: .25rem;
    font-weight: bold;
    font-size: 25px;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.navbar-brand .text-sm {
    font-size: 60%;
    font-weight: normal;
}

#main-navbar .nav-link {
    white-space: nowrap;
    color: white;
}

.card-body {
    padding: 0.3rem 0.75rem;
}

#service-container {
    align-content: flex-start;
    overflow-y: scroll;
    height: 65vh;
    width: 100%;
}

.telegram_bot_username,
.telegram_secret_key {
    text-align: center;
    margin-bottom: 1rem;
    display: block;
    border-radius: 0.25rem;
}

.telegram_bot_username {
    color: Teal;
    background-color: #ccffff;
}

.telegram_secret_key {
    background-color: LightCoral;
    color: DarkRed;
}